*,
*::before,
*::after{
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

:root{
    /* --custom name: value; */
    /* --light-green-bg: #476529; */
    /* example, color: var(--navy-clr) */
    --icon-color: orange;
    --bg-btn-color: rgb(60, 60, 255);
    --article-bg-color: linear-gradient(180deg, rgb(211, 211, 211), rgb(231, 231, 231));
}

/* fonts */
/* font-family: 'Roboto', sans-serif; */

/* font settings */
/* Light 300, Regular 400, Bold 700, Black 900 */

.container{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1.5fr 5fr 2fr;
    grid-template-rows: 1fr 1fr 7fr;
}

.sidebar, 
header, 
nav, 
article, 
aside{
    padding: 1rem;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: var(--bg-btn-color);
    color: white;
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: repeat(20, 3rem);
    align-items: center;
    column-gap: 1rem;
}

.dashboard{
    font-size: x-large;
    font-weight: bold;
}

header{
    grid-column: 2/-1;
    grid-row: 1/2;
    /* background-color: #3B8C66; */
    display: grid;
    grid-template-columns: 2rem .25fr 1fr 2rem 2rem 13rem;
    align-items: center;
    justify-items: end;
}

.search-bar{
    border-radius: .5rem;
    height: 2rem;
    width: 30rem;
}

nav{
    grid-column: 2/-1;
    grid-row: 2/3;
    /* background-color: #347355; */
    display: grid;
    grid-template-columns: 3rem 1fr 1fr 7rem 7rem 7rem;
    align-items: center;
}

.nav-button{
    border-radius: .5rem;
    height: 2rem;
    width: 5rem;
    background-color: var(--bg-btn-color);
    color: white;
}

article{
    grid-column: 2/-2;
    grid-row: 3/4; 
    /* background-color: #60BF81; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    background-image: var(--article-bg-color);
}

.article-title{
    grid-column: 1/-1;
    font-weight: bold;
    align-self: center;
}

.card{
    display: grid;
}
/* card title */
.title{
    font-weight: bold;
}
/* inside card grid */
.card-bottom-icons{
    justify-self: end;
}

.card-aside-title{
    font-weight: bold;
    align-self: center;
}


aside{
    grid-column: 3/-1;
    grid-row: 3/4; 
    /* background-color: #03A64A; */
    padding-top: 2rem;
    background-image: var(--article-bg-color);
}

.card{
    padding: 1rem;
    border-radius: .5rem;
    border-left: solid var(--icon-color) .5rem;
    background-color: white;
    width: 22rem;
    height: 15rem;
}

.card-aside{
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    width: 22rem;
    height: 26rem;
}

.card-aside.trending{
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
}

/* total icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.hover{
    transition: font-variation-settings .25s;
}
.hover:hover{
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
    cursor: pointer;
}
.pointer{
    cursor: pointer;
    font-weight: bold;
}

.pet{
    color: var(--icon-color);
}